In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Joins ##

In [3]:
drinks = Table(['Drink', 'Cafe', 'Price']).with_rows([
    ['Milk Tea', 'Tea One', 4],
    ['Espresso', 'Nefeli',  2],
    ['Latte',    'Nefeli',  3],
    ['Espresso', "Abe's",   2]
])
drinks

Drink    | Cafe    | Price
Milk Tea | Tea One | 4
Espresso | Nefeli  | 2
Latte    | Nefeli  | 3
Espresso | Abe's   | 2

In [4]:
discounts = Table().with_columns(
    'Coupon % off', make_array(25, 50, 5),
    'Location', make_array('Tea One', 'Nefeli', 'Tea One')
)
discounts

Coupon % off | Location
25           | Tea One
50           | Nefeli
5            | Tea One

In [5]:
#table1.join(table1_column_for_joining, table2, table2_column_for_joining)
combined = drinks.join('Cafe', discounts, 'Location')
combined

Cafe    | Drink    | Price | Coupon % off
Nefeli  | Espresso | 2     | 50
Nefeli  | Latte    | 3     | 50
Tea One | Milk Tea | 4     | 25
Tea One | Milk Tea | 4     | 5

In [ ]:
combined2 = discounts.join('Location', drinks, 'Cafe')
combined2

In [ ]:
combined.with_column('Discounted Price', 
                    combined.column('Price') * (1 - combined.column('Coupon % off') / 100))

In [ ]:
drinks.join('Cafe', drinks)
#self join

In [ ]:
cones = Table().with_columns(
    'Flavor', make_array('strawberry', 'vanilla', 'chocolate', 'strawberry', 'chocolate'),
    'Price', make_array(3.55, 4.75, 6.55, 5.25, 5.75)
)
cones

In [ ]:
ratings = Table().with_columns(
    'Kind', make_array('strawberry', 'chocolate', 'vanilla'),
    'Stars', make_array(2.5, 3.5, 4)
)
ratings

In [ ]:
rated = cones.join('Flavor', ratings, 'Kind')
rated

In [ ]:
#The new table rated allows us to work out the price per star, which you can think 
#of as an informal measure of value. 
#Low values are good â€“ they mean that you are paying less for each rating star.
rated.with_column('$/Star', rated.column('Price') / rated.column('Stars')).sort(3)